<form name="correctCoords" role="form">

    <script cam-script type="text/form-script">
        var cadastrialCoordinates = $scope.cadastrialCoordinates = {};

        camForm.on("form-loaded", function() {

            //camForm.variableManager.createVariable({
            //    name: 'cadastrialCoordinates',
            //    type: 'json',
            //    value: cadastrialCoordinates
            //});

        });
    </script>

    <h3>House Address</h3>

    <div class="form-group">
        <label for="nord">Nord</label>
        <input class="form-control"
               id="nord"
               type="text"
               required
               ng-model="coordinates.nord"
        />

        <label for="east">East</label>
        <input class="form-control"
               id="east"
               type="text"
               required
               ng-model="coordinates.east"
        />
    </div>
</form>